.btn {
  padding-inline: 28px;
  padding-block: 14px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.btn-primary {
  background-color: aqua;
  border: 5px;
}

.btn-danger {
  background-color: red;
  color: white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

}

:hover.btn-danger {
  background-color: rgb(204, 0, 0);;
}


.btn-success {
  background-color: #28A745;
}

.btn-success:hover {
  background-color: #218838;
}
